main {
	display: grid;
	margin: 5rem 30rem;
	place-items: center;
}
form {
	background-color: var(--blue);
	display: grid;
	padding: 5rem 15rem;
	color: white;
	max-height: 30%;
}

form div {
	margin: 0.5rem 0;
	display: grid;
	gap: 1rem;
	text-align: center;
	grid-template-columns: 1fr 1fr;
}
input {
	margin: 1rem;
	border: none;
	width: 100%;
	height: 25px;
	font-size: 18px;
	transition: all ease-in-out 0.15s;
}

input:focus {
	outline: none;

	-webkit-box-shadow: 8px 13px 0px -8px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 8px 13px 0px -8px rgba(0, 0, 0, 0.75);
	box-shadow: 8px 13px 0px -8px rgba(0, 0, 0, 0.75);
}

button {
	all: unset;
	margin: 0 1rem;
	padding: 0.5rem 2rem;
	background-color: var(--white);
	color: var(--black);
	transition: all ease-in-out 0.2s;
}

button:hover {
	cursor: pointer;
	transform: scale(1.1);
}
