.login_main{
    display: flex;
    height: 40rem;
    justify-content: center;
    align-items: center;
}

.card-login{
    border: 1px solid black;
    box-shadow: 0.2rem 0.1rem rgba(0,0,0,0.4);
    max-width: 15rem;
    padding: 3rem 4rem;
}

.container{
    display: grid;
    place-items: center;
}


.textfield{
    margin: 0.5rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.btn-login{
    transition: all ease-in-out 0.15s;
    padding: 0.5rem 0.5rem;
    color:  #F6F8FF;
    border: 1px solid #F6F8FF;
    background-color: #383F51;
    font-size: 15px;
    cursor: pointer;
}

.btn-login:hover{
    background-color: #F6F8FF;
    color: #383F51;
    border: 0.1rem solid #383F51;
}
